<!DOCTYPE html>
  <html>
    <head>
      <title>MakersBnB</title>
      <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
      <section id='box'>
        <form action='/listings' method='post'>
          <br><h2>If you wish to block any dates from the range previously selected,</h2>
          <h2>please mark and block these dates before submiting your changes.</h2><br>
          <% @availability.each do |date| %>
            <input type="radio" name="<%= date %>" value="unavailable">
            <label for="<%= date %>"><%= date %></label><br>
          <% end %><br>
          <br><button type="submit" name="submit_changes_of_listing" style>Submit Changes</button>
        </form>
    </section>
  </body>
</html>