<!DOCTYPE html>
  <html>
    <head>
      <title>MakersBnB</title>
      <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
      <section id='box'>
        <form action='/listings' method='post'>
          <h3>Please block any unavailable dates from the range previously selected.</h3>
          <% @availability.each do |date| %>
            <input type="radio" name="<%= date %>" value="unavailable">
            <label for="<%= date %>"><%= date %></label><br>
          <% end %><br>
          <input type='submit' name='submit_changes_of_listing' value='Submit Changes'>
        </form>
    </section>
  </body>
</html>