<!DOCTYPE html>
  <html>
    <head>
      <title>MakersBnB</title>
      <link rel=“stylesheet” type=“text/css” href=“style.css”>
    </head>
    <body>
      <section id=‘box’>
        <h1>Welcome back <%="#{@signed_in_user.first_name}" %>!</h1>
        <h1>Logged in as <%="#{@signed_in_user.user_name}" %></h1>
      </section>
      <section>
        <form action="/create_listing" method="GET">
          <input type="submit" name="add_listing" value="Add new listing!">
        </form>
      </section>
  </body>
</html>