<h1>
  <% @users.each do |user| %>
    <li><%= user.user_name %></li>
  <% end %>
</h1>
<form action="/create_listing" method="GET">
  <input type="submit" name="add_listing" value="Add new listing!">
</form>