<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <img src='images/makers_logo.jpg' id='logo'>
    <section id='box'>
      <section id='login'>
        <br><h2>Invalid username or password, please try again</h2>
        <form action="/login" method="post"><br>
          <input type="text" placeholder='Username' name="user_name"><br>
          <input type="password" placeholder='Password' name="password"><br>
          <br><button type="submit" name="submt" style>Log In</button>
        </form><br>
        <hr>
        <h3>Not registered yet? Sign up <a href="/">here</a>!</h3>
      </section>
    </section>
  </body>
</html>