<!DOCTYPE html>
  <html>
    <head>
      <title>MakersBnB</title>
      <link rel=“stylesheet” type=“text/css” href=“style.css”>
    </head>
    <body>
      <section id=‘box’>
      <center>
        <h1>Invalid username or password, please try again</h1>
        <form action="/login" method="post"><br>
        Username:    <input type="text" name="user_name"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Log In"><br>
        </form>
        Not registered? Sign up <a href="/">here</a>!
        </center>
    </section>
  </body>
</html>