<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <img src='images/makers_logo.jpg' id='logo'>
    <section id='box'>
      <section id='login'>
        <br><h2>Please log in</h2>
        <form action="/login" method="post"><br>
          <input type="text" placeholder='Username' name="user_name"><br>
          <input type="password" placeholder='Password' name="password"><br>
          <input type="submit" value="Log In"><br>
        </form>
        <hr>
        <h3>Not registered yet? Sign up <a href="/">here</a>!</h3>
      </section>
    </section>
  </body>
</html>