body {
  background-color: #cceeff;
  font-family: aileron, sans-serif;
  font-style: normal;
  font-weight: 200;
}

form {
  text-align: center;
  line-height: 30px;
  height: 80%;
  overflow: auto;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-style: normal;
  font-weight: 200;
}

h3 {
  text-align: center;
  font-style: normal;
  font-weight: 200;
}

#box {
  width: 75%;
  margin: 10% auto;
  height: 100vh;
  background-color: rgb(0, 51, 102, 0.6);
  border-radius: 40px;
}

input {
  border-radius: 8px;
  /* height: 5vh; */
  /* width: 80px; */
  font-family: aileron, sans-serif;
  font-style: normal;
  font-weight: 200;
  background-color: #fff9e6;
  border: 2px solid #ccd9ff;
}

hr {
  width: 98%;
  border: 1px solid #cceeff;
}

#logo {
  height: 150px;
  display: block;
  margin: auto;
}

form hr {
  width: 30%;
  border: 1px solid #cceeff;
}

button {
  border-radius: 8px;
  height: 5vh;
  width: 80px;
  font-family: aileron, sans-serif;
  background-color: #fff9e6;
  border: 2px solid #ccd9ff;
}

button:hover {opacity: 0.6}

